//Footer styles
.foot-bott
    padding: 2.7vw 3.3vw
    background-color: #111
    align-items: center
.copyrights,.rightsres,.terms,.pricvacy
    font-family: inter-medium
    font-size: .97vw
    line-height: 2.5vw
    color: #F1F2F4
    opacity: .6
.copyrights
    margin-right: 15.1vw
.rightsres
    margin-right: 15.7vw
.terms
    margin-right: 7.9vw
.pricvacy
    margin-right: 8.4vw
.foot-soc
    margin-right: 2.4vw
    &:last-child
        margin-right: 0
.foot-inst
    width: 1.1vw
.foot-fb
    width: .55vw
.foot-tw
    width: 1.1vw